@charset "UTF-8";
/* CSS Document */

body {
	background-color: deepskyblue;
}

h1 {
	color:red;
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"
}


h4 {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif"
}





p2 {
	font-family:  Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif"
}

h3 {
	text-align: right;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"
}




IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}


